# Visual Studio
ipch
debug
release
*.tmp
*.db
*.txt
*.sln
*.suo
*.aps
*.sdf
*.opensdf
*.vcxproj
*.vcxproj.filters


# Folders
homeworks
Project

# Resource files
images
*.jpg
*.jpeg
*.png
*.gif
*.bmp
